.container{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
}
.wrap-agenda{
    background-color: #333;
    display: block;

    width: 50%;
    height: 80%;

    border-radius: 10px;
}
.title{
    color: azure;
    font-size: 27px;
    display: flex;
    justify-content: center;

    margin-top: 20px;
}
.wrap-contatos{
    margin: auto;
    margin-top: 10px;
    width: 80%;
    height: 70%;

    overflow-y: scroll;
    
}
.wrap-contatos::-webkit-scrollbar{
    display: none;
}
.wrap-btn{
    display: flex;
    justify-content: center;
}
.adcionar-contato-btn{
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 25px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    height: 60px;

    background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
    background: -o-linear-gradient(to left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
    background: linear-gradient(to left, #21d4fd, #b721ff);
}

.wrap-header-modal{
    display: flex;
    justify-content: center;
}

.modal-overlay{    
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content{
    width: 40vw;
    height: 72vh;
    
    background-color: #DCDCDC;
    padding: 10px;
    border-radius: 10px;
}
.form-modal-contato{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.wrap-modal-contato{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 7px;
    
}
.span-contato-modal{
    font-size: 22px;
    font-weight: 700;
    margin-left: 10px;
    justify-content: center;
    margin: auto;
    
}
.input-modal-contato{
    margin: 10px; 
    margin-top: 2px;
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 60%;
    margin: auto;
    outline: 0;
}
.submit-form-contato{
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    cursor: pointer;
    margin: auto;
    margin-top: 15px;


    display: flex;
    justify-content: center;
    align-items: center;

    width: 60%;
    height: 60px;

    background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
    background: -o-linear-gradient(to left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
    background: linear-gradient(to left, #21d4fd, #b721ff);
}